.custom-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari */
}

.custom-scrollbar {
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
}
